/.DS_Store
/.ipynb_checkpoints
/.venv
/.vscode
/DANO.py
/Interactive-1.interactive.ipynb
/New.py
/__pycache__
/age = 25.py
/import random.py
/lern.py
/lesson.py
/letter_generator.py
/lists="fhdjfkd".py
/miniGame.py
/project_cods
/rokky.py
/s = input(int()).py
/workspace.code-workspace